
	
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Montserrat', sans-serif;
		font-size: 11pt;
		font-weight: 200;
		color: #656565;
	}
	h1, h2, h3
	{
		margin-right: 200px;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	p
	{
		
		line-height: 180%;
		
		
		letter-spacing: 5px;
		text-align: justify;
		
		
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin: auto;
	}
	a
	{
		color: #0000FF;
	}
	

	

	
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/


	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}
		

	#top
	{
		
		background: #f1e6da;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		
		padding: 0em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/


	#logo
	{
		margin-left: 10px;
		
	}
	


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: static;
		top: 4.5em;
		right:800px;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #2B3F48;
	}
	
	
	
	#menu .current_page_item a
	{
		border: 2px solid #744d25;
		background: #744d25;
		border-radius: 6px;
		color: #FFF;
	}
	
	
	
	#content
	{
		margin-top: 50px;
		margin-left: 450px;
		margin-right: 450px;
	}
	
	











